/* .App {
  text-align: center;
  background: #fef9f8;
}

.App-header {
  background: #fef9f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.Footer {
  background: #fef9f8;
  padding: 50px;
} */

/* App.css */

.App {
  text-align: center;
}

.light-mode {
  background: #fef9f8;
  color: #000;
}

.dark-mode {
  background: #121212;
  color: #f1f1f1;
}

/* Header */
.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.light-mode .App-header,
.light-mode .Footer {
  background: #fef9f8;
}

.dark-mode .App-header,
.dark-mode .Footer {
  background: #1e1e1e;
}

/* Footer */
.Footer {
  padding: 50px;
}

.darkMode {
  height: 36px;
  border-radius: 10px;
  margin-top:15px;
  border-color:  #ffe8d6;
  font-family: 'Poppins', 'Segoe UI', Tahoma, sans-serif;
}