.App {
  text-align: center;
  background: #fef9f8;
}

.App-header {
  background: #fef9f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.Footer {
  background: #fef9f8;
  padding: 50px;
}