.light-mode .Cards {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 30px; 
  padding: 40px 20px;
  background: #fef9f8;
  border-radius: 20px;
  box-shadow: 0 0px 25px rgba(255, 182, 193, 0.2);
  max-width: 1200px;
  margin: 40px auto; 
}

.dark-mode .Cards {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 30px; 
  padding: 40px 20px;
  color: #333333;
  border-radius: 20px;
  box-shadow: 0 0px 25px rgba(255, 182, 193, 0.2);
  max-width: 1200px;
  margin: 40px auto; 

}